<div class="email-verified-bed">
    <div class="mail-sent-container">
        <i class="check circle outline icon"></i>
        <div class="email-verified-msg">Email address not verified</div>
    </div>
</div>