<div class="form-bed">
    <form action="{{url}}/user/reset/{{token}}" method="post">
        <img class="form-logo" src="/images/logo-h175.png" alt="cv-cloud-logo" />
        <div class="form-heading">Password reset</div>
        <div class="ui input">
            <input type="password" name="password" placeholder="New password">
        </div>
        <div class="ui input">
            <input type="password" name="password2" placeholder="Confirm new password">
        </div>
        <div class="form-errors-bed">
            <div class="form-errors">{{errorsPassword}}</div>
            <div class="form-errors">{{errorsPassword2}}</div>
        </div>
        <button class="ui teal button" type="submit">Submit</button>
    </form>
</div>