
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Confirm email address - CV Cloud</title>
    <style>
      body {
        color: #7ac6fa;
        }
    </style>
  </head>
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td align="center">
             <img style="width: 200px; margin-bottom: 15px;" src="http://cdn.mcauto-images-production.sendgrid.net/7c24a358626a9096/b0b25cd2-4cbe-47b0-8390-a2f6411919b8/179x31.png" alt="cvCloud-ogo" />
          </td>
        </tr>
      </tbody>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td align="center" style="line-height: 24px; font-size: 16px; color: #2c2c2c; font-weight: 100; padding: 18px 40px;">
            Good day, you are almost ready to start enjoying CV Cloud. <br />
            Simply click on the link bellow to verify your email address.
          </td>
        </tr>
      </tbody>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td align="center">
            <a style="background-color: #278acd; border-radius: 5px; color: #ffff; display: inline-block; font-size: 14px; font-weight: normal; letter-spacing: 0px; line-height: normal; text-align: center; text-decoration: none; font-family: inherit; padding: 12px 40px; border: 1px solid #278acd;" href="http://localhost:3000/email-verified/{{id}}" target="_blank">Verify Email</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>

